/*----------------------------*/
/*-------BASIC SETUP----------*/
/*----------------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    
}

html {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
}

/*----------------------------*/
/*---------REUSE COMPO--------*/
/*----------------------------*/

.row {
   max-width: 1140px;
    margin: 0 auto;
}

section {
    padding: 80px 0;
  
}

.box {
    padding: 1%;
    
}


/*----------------------------------*/
/*------NAVIGATION BAR / LOGO-------*/
/*----------------------------------*/

.hed1{
    height: 60px;
}

.navbar {
    background-color: #fce3e3;
   

}

.logo {
    height: 60px;
    width: auto;
    float: left;
   
    margin-left: -20px;

}

.navbar .navbar-toggler{
    outline-color: black;
    border-color: black;
    background-color: none;
    color: black;
    
    font-size: 20px;   
}

.navbar {
    float: right;
    list-style: none;
    margin-top: 0;
}

.navbar li {
    display: inline-block;
    margin-left: 5px;
}

.navbar li a:link,
.navbar li a:visited {
    padding: 8px 0;
    color: #555;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}

.navbar li a:hover,
.navbar li a:active {
    border-bottom: 2px solid #c41e1e;
    color: #c41e1e;
    font-weight: 700;
}


/*-----------------------------------------*/
/*--------------BIOGRAPHY------------------*/
/*-----------------------------------------*/


.section-bio .container {
    background-color: #fff;
    max-width: 1140px;
    
}

.profile-pic {
    width: 120px;
    justify-items: center;
    border-radius: 10%;
}


.bio-text {
    font-weight: 30;
    font-style: italic;
 
}

@media(max-width: 375px){
    .section-bio .container{
        background-color: aqua;
    }
    }


/*-----------------------------------------*/
/*--------------EDUCATION------------------*/
/*-----------------&&----------------------*/
/*---------WORKING EXPERIENCE--------------*/
/*---------------TABLES--------------------*/
/*-----------------------------------------*/


.section-education{
     background-color: #f4f4f4;
     
}

.section-education .container{
    background-color: #f4f4f4;
       max-width: 1000px;
}

.section-experience .container{
   
       max-width: 1140px;
}


.table-links{
    text-decoration: none;
    color: black;
   }
.table-links:hover{
    color: indianred;
}


.table{
	width: 100%;
	border-collapse: collapse;
    border: 0.7px;
}

.table td{
    font-weight: 400;
    color: black;
}

.table td,.table th{
  padding:12px 15px;
  border:1px solid #ddd;
  text-align: center;
  font-size:16px;
}

.table th{
	background-color: #5ea393;
	color:#fff;
}


.table tbody tr:nth-child(even){
	background-color: #f5f5f5;
}
.table tbody tr:nth-child(odd){
	background-color: #fff;
}


/* Responsive Education and Working Experience Tables*/

@media(max-width: 500px){
    
    .section-experience .th{
        margin-left: 30px;
    }
    .section-education .container{

       max-width: 1000px;
}
    
    .table{
      margin-left: 25px;
    }
    
    .table thead{
		display: none;
	}

	.table, .table tbody, .table tr, .table td{
		display: block;
		width: 400px;
	}
	.table tr{
		margin-bottom:15px;
	}
	.table td{
		text-align: right;
		padding-left: -10%;
		text-align: right;
		position: static;
	}
	.table td::before{
		content: attr(data-label);
		position: absolute;
		left:0;
		width: 50%;
		padding-left:15px;
		font-size:15px;
		font-weight: bold;
		text-align: left;
	}
}

/*-----------------------------------------*/
/*-----------Skills--------------*/
/*-----------------------------------------*/
.section-skills{
     background-color: #f4f4f4;
     
}

.section-skills .row ul{
    list-style-type: none;
    text-decoration: none;
    color: black;
    display: block;
}

.section-skills .ul .li{
    text-decoration: none;
}




/*-----------------------------------------*/
/*-----------Languages--------------*/
/*-----------------------------------------*/
.section-languages .row ul{
    list-style-type: none;
    text-decoration: none;
    color: black;
    display: block;
}




/*-----------------------------------------*/
/*-----------Projects--------------*/
/*-----------------------------------------*/

.section-projects{
      background-color: #f4f4f4;
}

.section-projects .row ul{
    list-style-type: none;
    text-decoration: none;
    color: black;
    display: block;
}

/*-----------------------------------------*/
/*-----------Budget App--------------*/
/*-----------------------------------------*/

.budget-btn{
    text-decoration: none;
    color: black;
}
.budget-btn:hover{
    text-decoration: none;
    color: white;
}


/*-----------------------------------------*/
/*-----------Contact--------------*/
/*-----------------------------------------*/

.section-contact{
      background-color: #f4f4f4;
}

.section-contact .container{
   
       max-width: 1140px;
}



/*-----------------------------------------*/
/*-----------Scroll-Up Button--------------*/
/*-----------------------------------------*/

.button-icon{
  position: fixed;
  bottom: 20px;
  right: 10px;
  z-index: 99;
  height: 40px;
  width: 40px;
  float: right;
  margin-right: 20px;
    border-style: none;
    background-color: #fff;
   
}

.button-icon:hover{
    border: none;
    height: 55px;
    width: 55px;
    background-color: #5ea393;
    transition: height 0.5s,width 0.5s, background-color 0.5s;
}







/*Navbar                              DONE*/
/*biography section                   */
/*education section                   */
/*experience section                  */
/*skills section                      */
/*languages section                   */
/*projects section                    */
/*contact footer section              */







